<!-- app/views/orders/show.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SLURM - We're too lazy to come up with a slogan!</title>
</head>
<body>
    <div id="main-container" class="container">
      <h1>Your Slurm Order</h1>
        <p id="notice"><%= notice %></p>

        <p>
            <strong>Name:</strong>
            <%= @order.name %>
        </p>

        <p>
            <strong>Amount:</strong>
            <%= @order.amount %>
        </p>

        <p>
            <strong>Cost:</strong>
            $<%= @order.amount * CONSTANTS::PRICE + CONSTANTS::SHIPPING %>
        </p>

        <p>
            <strong>Shipping to: </strong>
            <%= @order.city %>, <%= @order.country %>
        </p>

        <p>
            <strong>Estimated arrival date: </strong>
            <%= @order.will_ship_by %>
        </p>

        <%= link_to 'Home', root_path %> |
        <%= link_to 'Back', orders_path %> |
        <%= link_to 'Edit', edit_order_path(@order) %>
    </div>
</body>
</html>
