<!-- app/views/orders/show.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SLURM - We're too lazy to come up with a slogan!</title>
</head>
<body>
    <div id="main-container" class="container">
      <h1>Your Slurm Order</h1>
        <p id="notice"><%= notice %></p>

        <p>
            <strong>Name:</strong>
            <%= @order.name %>
        </p>

        <p>
            <strong>Amount:</strong>
            <%= @order.amount %>
        </p>

        <p>
            <strong>Shipping to: </strong>
            <%= @order.city %>, <%= @order.country %>
        </p>

        <%= link_to 'Edit', edit_order_path(@order) %> |
        <%= link_to 'Back', orders_path %>
    </div>
</body>
</html>
